:global {
  .divider {
    padding: 50px 0;
    color: #ddd !important;
  }
}

.title {
  font-size: 25px;
  text-align: center;
}

.blog-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.45);
  &-icon {
    margin-right: 10px;
  }
  .time {
    margin: 20px 0 10px 0;
  }
  > p {
    margin-bottom: 50px;
  }
}

.html-content {
  ul li {
    list-style: disc;
  }

  ol li {
    list-style: decimal;
  }
}