.wrapper {
  // position: absolute;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,.2);
  .read {
    text-align: center;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
  }
  .no-message {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100px;
    color: #ccc;
  }
  .message-sub {
    max-height: 200px;
    overflow-y: scroll;
    :global {
      .ant-menu-item {
        height: auto;
        line-height: auto;
      }
    }
    .message {
      width: 300px;
      border-bottom: 1px solid #ccc;
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
    }
    li:last-child > .message {
      border-bottom: 1px solid transparent;
    }
  }
}

