.tag-wrapper {
  :global {
    .ant-tag-hidden {
      // 防止 tag 消失
      display: inline-block;
    }
  }
}

.selected {
  background-color: #2db7f5;
  color: #fff;
  > i {
    color: #fff !important;
  }
}