.links {
  > .link {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    > .info {
      min-width: 350px;
    }
    :global {
      .label-input {
        margin: 10px 0;
        span {
          width: 30px;
        }
      }
    }
    > .opt {
      display: flex;
      align-items: center;
      > i {
        color: #ddd;
        margin: 0 10px;
      }
    }
  }
}
